name: android_multicast_lock
description: "A Flutter plugin to manage an Android Multicast Lock."
version: 1.0.1
homepage:

environment:
  sdk: ^3.6.0
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.arobinson434.android_multicast_lock
        pluginClass: AndroidMulticastLockPlugin

